<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>마지막처럼</string>
		<key>artist</key>
		<string>BlackPink</string>
		<key>fileName</key>
		<string>asif.m4v</string>
		<key>description</key>
		<string>I love Lisa!!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>#好きなんだ</string>
		<key>artist</key>
		<string>AKB48</string>
		<key>fileName</key>
		<string>suki.m4v</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>456</string>
		<key>artist</key>
		<string>kaneto</string>
		<key>fileName</key>
		<string>456.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Without you</string>
		<key>artist</key>
		<string>Yoshiki</string>
		<key>fileName</key>
		<string>withoutu.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>좋니</string>
		<key>artist</key>
		<string>윤종신</string>
		<key>fileName</key>
		<string>likeit.mov</string>
		<key>description</key>
		<string></string>
	</dict>
</array>
</plist>
