<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>#好きなんだ</string>
		<key>artist</key>
		<string>AKB48</string>
		<key>fileName</key>
		<string>suki.m4v</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>456</string>
		<key>artist</key>
		<string>kaneto</string>
		<key>fileName</key>
		<string>456.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Without you</string>
		<key>artist</key>
		<string>Yoshiki</string>
		<key>fileName</key>
		<string>withoutu.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>남자를 몰라</string>
		<key>artist</key>
		<string>버즈</string>
		<key>fileName</key>
		<string>know.m4v</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>꽃</string>
		<key>artist</key>
		<string>G,고릴라</string>
		<key>fileName</key>
		<string>flower.m4v</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>How do you feel now</string>
		<key>artist</key>
		<string>AmuroNamie</string>
		<key>fileName</key>
		<string>howdoyoufeelnow.m4v</string>
		<key>description</key>
		<string></string>
	</dict>
</array>
</plist>
