<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>あなたがいれば</string>
		<key>artist</key>
		<string>華原朋美</string>
		<key>fileName</key>
		<string>_ho_jp.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>ショコラ</string>
		<key>artist</key>
		<string>安全地帯</string>
		<key>fileName</key>
		<string>_sho_jp.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>雪の華</string>
		<key>artist</key>
		<string>中島美嘉</string>
		<key>fileName</key>
		<string>_yuki_jp.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>그대만 있다면</string>
		<key>artist</key>
		<string>러브홀릭</string>
		<key>fileName</key>
		<string>_ho_kr.mp4</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>사랑의 시</string>
		<key>artist</key>
		<string>MC the Max</string>
		<key>fileName</key>
		<string>_sho_kr.mov</string>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>눈의 꽃</string>
		<key>artist</key>
		<string>박효신</string>
		<key>fileName</key>
		<string>_yuki_kr.mp4</string>
		<key>description</key>
		<string></string>
	</dict>
</array>
</plist>
